libboost-all-dev
libusb-1.0.0-dev
libssl-dev
cmake
libprotobuf-dev
protobuf-c-compiler
protobuf-compiler
libqt5multimedia5
libqt5multimedia5-plugins
libqt5multimediawidgets5
qtmultimedia5-dev
libqt5bluetooth5
libqt5bluetooth5-bin
qtconnectivity5-dev
pulseaudio
git
